{% for r in reserva %}
    <h1 style="text-align: center;"><strong>Felicidades {{r.customer}}, Tu reserva fue realizada el día {{r.fecha_reserva}}.</strong></h1>
    <h1 style="text-align: center;"><strong>Gracias por reservar en Turismo Real!</strong></h1>
    <h3 style="text-align: center;">Esta es tu boleta electrónica para tu reserva!</h3>
    <p style="text-align: center;"><img src="http://static-1.ivoox.com/audios/c/5/a/8/c5a8de19690f77dadbf634d28c7e5317.jpg"
            alt="" width="240" height="240" /></p>
    <table style="border-collapse: collapse; width: 100%; height: 90px;" border="1">
        <tbody>
            <tr style="height: 18px;">
                <td style="width: 50%; height: 18px;"><strong>Nombre propiedad reservada:</strong></td>
                <td style="width: 50%; height: 18px;">{{r.departamento_id_depto}}</td>
            </tr>
            <tr style="height: 18px;">
                <td style="width: 50%; height: 18px;"><strong>Monto total:</strong></td>
                <td style="width: 50%; height: 18px;">{{r.valor}}</td>
            </tr>
{% endfor %}
    </tbody>
</table>
<h3 style="text-align: center;">Esperamos nos recomiendes y disfrutes de tus días!</h3>
<h2 style="text-align: center;"><strong>Atte: Turismo Real</strong></h2>